@theme {
  --color-primary: rgba(15, 40, 98);
  --color-secondary: rgba(79, 95, 118);
  --color-accent: rgba(158, 54, 58);
  --color-paragraph: rgba(255, 255, 255);
  --color-background: rgba(9, 31, 54);
}
