@import "tailwindcss";

.dark {
  --paragraph: 235, 236, 239;
  --background: 15, 16, 26;
  --primary: 158, 166, 214;
  --secondary: 35, 50, 133;
  --accent: 52, 75, 223;
  background: rgba(var(--background));
}

body {
  margin: 0;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}
