@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 15 40 98;
  --color-secondary: 79 95 118;
  --color-accent: 158 54 58;
  --color-paragraph: 255 255 255;
  --color-background: 9 31 54;
}

body {
  margin: 0;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-paragraph));
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}
