@import "tailwindcss";

body {
  margin: 0;
  background: rgba(var(--background));
}

@theme {
  --color-primary: 15, 40, 98;
  --color-secondary: 79, 95, 118;
  --color-accent: 158, 54, 58;
  --color-paragraph: 255, 255, 255;
  --color-background: 9, 31, 54;
}
